<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Create Your Password</h3>
    <h5>Make sure it is strong and cannot be guess by others</h5>
    <form action="/admin/verify" method="POST">
        <div>
            <input type="password" name="passwd" placeholder="Write Password">
        </div>
        <div>
            <input type="password" name="confirm" placeholder="Confirm Password">
        </div>
        <button type="submit">Submit</button>
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash-messages">
          {% for message in messages %}
            <div class="flash">{{ message }}
                <a href="javascript:void(0)">X</a>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
</body>
</html>